body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.hero {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    border: 1px solid black;
}

/* Torshov Background Image */
/* Image Layout */
/* width: 720px; */
/* height: 343px; */
/* flex-shrink: 0; */

/* Image Style */
/* background: url(<path-to-image>), lightgray -2.446px -5.91px / 101.181% 136.247% no-repeat; */

.welcome {
    border: 1px solid white;
    color: #FFFFFF;
    padding: 0.5em 0em;
    user-select: none;
    width: 20em;
}

#welcome-1 {
    font-size: 3rem;
    background-color: #1D3557;
}

/* VISIT TORSHOV */

/* Box Layout */
/* width: 225px; */
/* height: 42px; */
/* flex-shrink: 0; */

/* Box Style */
/* border-radius: 10px; */
/* background: #1D3557; */

/* Text Layout */
/* width: 201px; */
/* height: 34px; */
/* flex-shrink: 0; */

/* Typography */
/* color: #FFF; */
/* text-align: center; */
/* font-family: Arial; */
/* font-size: 32px; */
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */

#welcome-2 {
    font-size: 2rem;
    background-color: #457B9D;
}

/* "Enjoy culture and sports ..." */

/* Box Layout */
/* width: 412px; */
/* height: 52px; */
/* flex-shrink: 0; */

/* Box Style */
/* border-radius: 10px; */
/* background: #457B9D; */

/* Text Layout */
/* width: 355px; */
/* height: 39px; */
/* flex-shrink: 0; */

/* Typography */
/* color: #FFF; */
/* text-align: center; */
/* font-family: Arial; */
/* font-size: 18.72px; */
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */

.activities {
    background-color: #F1FAEE;
}

/* Activities Section */
/* Layout */
/* width: 720px; */
/* height: 378px; */

/* Style */
/* background: #F1FAEE; */
/* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */


.top-three {
    color: #1D3557;
}

/* Top three activities to do at Torshov */
/* Layout */
/* width: 439px; */
/* height: 20px; */
/* flex-shrink: 0; */

/* Typography */
/* color: #1D3557; */
/* text-align: center; */
/* font-family: Arial; */
/* font-size: 24px; */
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */

.activity-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;
    border: 1px solid black;
    
}

.act-img {
    width: 100px;
    border-radius: 100%;
}

/* Theatre child container*/
/* Layout */
/* width: 198px; */
/* height: 226px; */
/* flex-shrink: 0; */

/* Theatre Image Group */
/* Layout */
/* width: 100px; */
/* height: 100px; */
/* flex-shrink: 0; */

/* Contains Ellipse 1 and theatre image */

/* Ellipse 1 */
/* Layout */
/* width: 100px; */
/* height: 100px; */
/* flex-shrink: 0; */

/* Style */
/* fill: #C4C4C4; */

/* theatre image */
/* Layout */
/* width: 100px; */
/* height: 99.338px; */
/* flex-shrink: 0; */

/* Style */
/* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */

/* Attend a show or a concert */
/* Layout */
/* width: 183px; */
/* height: 32px; */
/* flex-shrink: 0; */

/* Typography */
/* color: #1D3557; */
/* text-align: center; */
/* font-family: Arial; */
/* font-size: 16px; */
/* font-style: normal; */
/* font-weight: 700; */
/* line-height: normal; */

/* The Torshov Theatre is a great place to spend your night out. */
/* Layout */
/* width: 198px; */
/* height: 55px; */
/* flex-shrink: 0; */

/* Typography */
/* color: #1D3557; */
/* text-align: center; */
/* font-family: Arial; */
/* font-size: 16px; */
/* font-style: normal; */
/* font-weight: 400; */
/* line-height: normal; */

.guide {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.card {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid black;
}

.guide-pic {
    width: 55%;
    align-self: center;
}

.guide-details {
    width: 45%;
}