* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: auto;
    user-select: none;
    width: 1080px;
}

:root {
    --M-BLUE: #77CDFF;
    --R-BLUE: #002680;
    --BLUE-COLA: #0085D7;
    --WHITE: #FFFFFF;
    --D-C-PINK: #F6332B;
}
/* Maya Blue (#77CDFF) */
/* Resolution Blue (#002680) */
/* Blue Cola (#0085D7) */
/* White (#FFFFFF) */
/* Deep Carmine Pink (#F6332B) */
/* Colours of the Flag of Sabah */
/* Retrieved from the website SchemeColor.com */
/* https://www.schemecolor.com/sabah-flag-colors.php */

html {
    font-size: 16px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: var(--WHITE);
}

/* HERO SECTION */
.hero {
    background-image: url(./my_hometown_homepage_images/South_View_3.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 720px; */
    height: 343px;
}


.hero-text {
    background-color: var(--D-C-PINK);
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5em 0em;
    margin: 0.5em;
    text-align: center;
    width: 20em;
}

#hero-text-1 {
    font-size: 2rem;
    /* font-size: 32px; */
    /* margin-bottom: 11px; */
    /*margin-bottom: 0.34 em*/
    /*margin-bottom: 0.69 rem*/
    padding: 3px 12px 5px 12px; /*0.125em 0.375em*/
}

#hero-text-2 {
    font-size: 1.3rem;
    padding: 6px 30px 6px 30px;
    /* padding: 0.35em 1.52em; */
    width: 450px;
    height: 60px;
}


/* ACTIVITIES SECTION */
.activities {
    background-color: var(--BLUE-COLA);
    /* width: 720px; */
    height: 378px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.top-three {
    font-size: 1.5rem;
    width: auto;
    height: auto;
    margin: auto;
    padding: 40px 0px 40px 0px;
}

.activity-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 43vh;
    
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.activity:hover {
    background-color: var(--D-C-PINK);
    color: var(--R-BLUE);
    border: 2px solid var(--R-BLUE);
}

/* #no-1 */
/* #no-2 */
/* #no-3 */

.act-img {
    border: 1px solid var(--WHITE);
    border-radius: 100%;
    font-weight: 400;
    height: 100px;
    width: 100px;
}

/* #img-1 */
/* #img-2 */
/* #img-3 */

.act-name {
    font-size: 1rem;
    /* width: 200px; */
    width: 90%;
    height: 40px;
}

/* #name-1 */
/* #name-2 */
/* #name-3 */

.act-details {
    font-size: 1rem; 
    font-weight: 400;
    /* width: 198px; */
    width: 90%;
    height: 55px;
}

/* #detail-1 */
/* #detail-2 */
/* #detail-3 */


/* GUIDE SECTION */
.guide {
    /* width: 100%; */
    /* width: 720px; */
    /* height: auto; */
    height: 394px;
    background-color: var(--WHITE);
}

.guide-card {
    background-color: var(--R-BLUE);
    border-radius: 10px;
    /* width: 50%; */
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    /* margin: 50px 160px; */
    /* padding: 1em; */
    padding: 23px 13px;
    box-shadow: 0px 6px 0px 0px var(--BLUE-COLA);
}

#guide-pic {
    border: 1px solid var(--D-C-PINK);
    border-radius: 10px;
    /* width: 55%; */
    /* align-self: center; */
    width: 180px;
    height: 248.667px;
}

#guide-details {
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 215px;
    height: 248.667px;
}

#guide-intro {
    font-size: 1.5rem;
    width: 90%;
    height: 32px;
}

#guide-quote {
    font-size: 1rem;
    font-style: italic;    
    font-weight: 400;
    width: 90%;
    height: 80px;
}

#guide-name {
    font-size: 1rem;
    width: 90%;
    height: 20px;    
}
