/* List of selectors in my_unit_converter.html */

* {
    margin: 0;
}

/* CSS Colour Variables for Light Mode */
:root {
    --primary-purple: #6943FF;
    --white: #FFF;
    --light-purple: #B295FF;
    --black-transparent: rgba(0, 0, 0, 0.05);
    --white-transparent: rgba(255, 255, 255, 0.05);
    --dark-gray: #3D3D3D;
    --light-gray: #F4F4F4;
    --deep-lavender: #5A537B;
    --charcoal-gray: #353535;
}

/* CSS Colour Variables for Dark Mode */
/* :root {
    --primary-purple: #6943FF;
    --white: #FFF;
    --light-purple: #B295FF;
    --black-transparent: rgba(0, 0, 0, 0.05);
    --white-transparent: rgba(255, 255, 255, 0.05);
    --dark-gray: #3D3D3D;
    --navy-blue: #1F2937;
    --dark-blue: #273549;
    --pale-lilac: #CCC1FF;
} */

html {
    text-align: center;
    font-family: Inter;
    font-style: normal;
}

body {
    box-sizing: border-box;
    font-family: Inter;
}

.main-section {
    margin: auto;
    width: 550px;
}

/* Unit Converter Section */

#unit-conversion {
    background: var(--primary-purple);
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    color: var(--white);
    width: 448.4px;
    height: 38px;
    font-size: 28px;
    font-weight: 800;
    font-family: Inter;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.84px;
}

#add-number {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 117px;
    height: 83px;
    background: var(--primary-purple);
    border-radius: 5px;
    border: 2px solid var(--light-purple);
    color: var(--white);
    font-size: 58px;
    font-weight: 800;
    font-family: Inter;
    line-height: 24.393px; /* 42.057% */
}

.conversion-buttons {
    display: inline-flex;
    padding: 9px 27.5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter;
    line-height: 24px; /* 150% */
}

#convert {
    background: var(--white);
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px var(--black-transparent);
    color: var(--dark-gray);
    /* text-base/leading-6/font-medium */
}

#reset {
    background: var(--dark-gray);
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px var(--white-transparent);
    color: var(--white);
    /* text-base/leading-6/font-medium */
}

/* Converted Units Section */

#converted-units {
    height: 729px;
    background: var(--light-gray);
    /* background: var(--navy-blue); */ /* Dark Mode */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.units {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 108.573px;
    border-radius: 4.681px 0px 0px 0px;
    background: var(--white);
    /* background: var(--dark-blue); */ /* Dark Mode */
}

.unit {
    width: 346px;
    height: 25px;
    color: var(--deep-lavender);
    /* color: var(--pale-lilac); */ /* Dark Mode */
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    line-height: 20px; /* 100% */
}

.formulae {
    width: 346px;
    height: 25px;
    color: var(--charcoal-gray);
    /* color: var(--white); */ /* Dark Mode */
    /* text-sm/leading-5/font-normal */
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    line-height: 20px; /* 142.857% */
}