/* List of selectors in uni_converter.html */

* {
    margin: 0;
}

/* :root {} */

/* #6943FF;  */
    /* #unit-conversion background color */
    /* #add-number background color */
    /* #convert background-color */


/* #FFF  */
    /* #title font-color */
    /* #add-number font-color */
    /* #convert background-color */
    /* .units background-color */
    /* .formulae font-color (Dark Mode) */

/* #B295FF */ /* #add-number border-color */

html {
    text-align: center;
    /* font-family: Inter; */
    font-style: normal;
}

body {
    box-sizing: border-box;
}

.main-section {
    margin: auto;
    width: 550px;
}

#unit-conversion {
    background: #6943FF;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    color: #FFF;
    width: 448.4px;
    height: 38px;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.84px;
}

#add-number {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    width: 117px;
    height: 83px;
    background: #6943FF;
    border-radius: 5px;
    border: 2px solid #B295FF;
    color: #FFF;
    width: 211px;
    height: 51.225px;
    font-size: 58px;
    font-weight: 800;
    line-height: 24.393px; /* 42.057% */
}

#convert {
    display: inline-flex;
    padding: 9px 27.5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    /* shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

    color: #3D3D3D;
    /* text-base/leading-6/font-medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

#converted-units {
    height: 729px;
    background: #F4F4F4;
    /* background: #1F2937; */ /* Dark Mode */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.units {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 108.573px;
    border-radius: 4.681px 0px 0px 0px;
    background: var(--white, #FFF);
    /* background: #273549; */ /* Dark Mode */
}

.unit {
    width: 346px;
    height: 25px;
    color: #5A537B;
    /* color: #CCC1FF; */ /* Dark Mode */
    font-size: 20px;
    font-weight: 600;
    line-height: 20px; /* 100% */
}

/* #length */
/* #volume */
/* #mass */

.formulae {
    width: 346px;
    height: 25px;
    color: #353535;
    /* color: #FFF; */ /* Dark Mode */
    /* text-sm/leading-5/font-normal */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

/* #meters-feet */

/* #meters-to-feet */
/* #feet-to-meters */


/* #liters-gallons */

/* #liters-to-gallons */
/* #gallons-to-liters */


/* #kilograms-pounds */

/* #kilos-to-pounds */
/* #pounds-to-kilos */
