/* List of selectors */

/* section */
    /* .main-section */
    /* .dark-mode */

    /* div */
        /* #toggle-box */

        /* input */
            /* #Toggle */

    /* p */
        /* .generic-text */
        /* .dark-mode */


body {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/* :root {} */

#toggle-box {
    position: fixed;
    top: 100px;
    right: 100px;
}

.main-section {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    background-color: white;
}

.generic-text {
    color: black;
}

/* .main-section .dark-mode {
    background-color: black;
} */

/* .generic-text .dark-mode {
    color: white;
} */